.card {
    margin: 0rem 0 1rem 0;
}
.row {

    margin-top: 20px;
}
.card .card-content {
    padding: 10px;
}
.card.horizontal .card-image img{
    max-width: 70%;
}

.tab a.active {
    background-color: transparent;
    color: #2090ff;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: rgb(255, 255, 255);
}
.btn, .btn-large, .btn-small {
    background-color: #2F6075;
}
nav {
    background-color:  #E5EDEF;
}

#portafolio-visible {
    display: block;
}
#portafolio-invisible {
    display: none;
}

#perfil.visible {

    display: block;
}
#perfil.invisible {
    display: none;

}
.page-footer {
   
    background-color: #2f6075;
}
.tabs .tab a {
    color: rgb(32, 2, 2);
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(246, 178, 181, 0);

}
.tabs .indicator {
    
    background-color: #2f6075;

}
.tab a.active {

    color: #5dcfd9;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #2f6075;;
}
.icono {
font-size: 25px;
}

.card .card-content {
    padding: 2px;
}
.card.horizontal .card-image img {
    max-width: 90%;
}

#perfil {
    margin-top:2px;
}
#portafolio {
    margin-top :35px;
}
.card.horizontal .card-image img {
    border-radius: 300px 300px 300px 300px;
   
}
.card.horizontal .card-image {
    max-width: 30%;
}

p {
        line-height: 1.5;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-weight: normal;
        color: rgba(0,0,0,0.87);
  
}


.grey-text.text-lighten-3 {
    color: #47525d !important;
}














































































































































































































































































































































































































































































































































































































































































}